name: CI

on:
  push:
    branches: ["main", "master"]
  pull_request:

permissions:
  contents: read

jobs:
  build:
    name: ${{ matrix.system }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - system: x86_64-linux
            runs_on: ubuntu-latest
          - system: aarch64-linux
            runs_on: ubuntu-24.04-arm
          - system: x86_64-darwin
            runs_on: macos-15-intel
          - system: aarch64-darwin
            runs_on: macos-14

    runs-on: ${{ matrix.runs_on }}

    steps:
      - uses: actions/checkout@v4

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@v13

      - name: Flake check
        run: nix flake check -L

      - name: Build package
        run: nix build -L .#packages.${{ matrix.system }}.default
